<!DOCTYPE html>
<html lang="en">
<body> 
    <%- include("../header.ejs") %>
    <main>
          <h2><%= poke.name %></h2>
          <img src="<%= poke.img %>" alt="pokemon picture">
          <a href="/pokemon"><button>Back to PokeDex</button></a>
          <a href="/pokemon/<%= pokeID %>/edit"><button>Edit</button></a>
          <form action="/pokemon/<%= pokeID %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
          </form>
        </article>
      </div>
    </main>
  </body>
</html>